.body {
    background: url(/assets/site/mapblue.jpg) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.main {
    width: 85%;
    position: absolute;
    left: 0px;
    float: left;

}

.aside {
    width: 15%;
    position: absolute;
    right: 0px;
    float: left;

}

.pictureDiv {
    float: left;
    margin: 15px;
    position: relative;
    text-align: center;
}


.main--div2--table1 {
    width: 195px;
    background: grey;
    margin: 10px;
    text-align: center;
}

.main--div2--table2 {
    background: grey;
    height: 500px;
    margin: 10px;
    text-align: center;
    width: 195px;
}

.main--div2--table3 {
    background: grey;
    margin: 10px;
    text-align: center;
    width: 195px;
}