.body {
    background: url(/assets/site/mapblue.jpg) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.main {
    width: 80%;
    position: absolute;
    left: 0px;
    float: left;

}

.aside {
    width: 20%;
    position: absolute;
    right: 0px;
    float: left;
}

.pictureDiv {
    float: left;
    margin: 10px;
    position: relative;
    text-align: center;
}


.title {
    background: grey;
    text-align: center;
}

.main__div2__result {
    background: grey;
    height: 580px;
    text-align: center;
}

.main__div2__searchField {
    background: grey;
    text-align: center;
}

.main__div2__result__name {
    width: 50%;
    position: absolute;
    left: 0px;
}

.main__div2__result__housepics {
    width: 50%;
    position: absolute;
    right: 0px;
}